frr defaults traditional
hostname {{ node.name }}
no ipv6 forwarding
!
interface lo
 ip address {{ params.loopback }}/32
 ip ospf area {{ params.area }}
!
{% for iface in node.interfaces %}
interface {{ iface.name }}
{%- if iface.description %}
 description {{ iface.description }}
{%- endif %}
{%- if iface.ip %}
 ip address {{ iface.ip }}
{%- endif %}
 ip ospf area {{ params.area }}
 ip ospf network point-to-point
!
{% endfor %}
router ospf
 ospf router-id {{ params.loopback }}
 log-adjacency-changes
!
line vty
!
